@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 42px;
    
    position: static;
    width: 1538px;
    height: 980px;
    
    background: #EB5E5D;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    }
.body-container{ 
        position: relative;
        top: 23px;
        left: 40px;
        width: 1440px;
        height: 900px;
        background: #EB5E5D;
        margin: 10px 0px;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
.content-container{
        position: static;
        left: 3.19%;
        right: 3.19%;
        top: 2.35%;
        bottom: 5.82%;
        width: 1440px;
        height: 900px;
        
        background: #FFFFFF;
        border-radius: 10px;
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1376px;
    height: 68px;
    left: 34px;
    top: 24px;
}


.welcome-user-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 300.64px;
    height: 68px;
    left: 0px;
    top: 0px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 238px;
}

.circle-pic{
    position: static;
    width: 68px;
    height: 68px;
    left: 3.82px;
    top: 0px;
    
    background: #000000;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 28px;
}

.welcome-user-text{
    position: static;
    width: 197px;
    height: 27px;
    left: 99.82px;
    top: 20.5px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 28px;
}


.create-team-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    position: static;
    width: 133px;
    height: 30px;
    left: 538.64px;
    top: 19px;

    background: #F1F1F1;
    border-radius: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 238px;
}

.create-team-text{
    position: static;
    width: 85px;
    height: 19px;
    left: 10px;
    top: 5.5px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.navbar-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 466px;
    height: 27px;
    left: 909.64px;
    top: 20.5px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 238px;
}


.date-container{
    position: absolute;
    width: 308px;
    height: 24px;
    left: 34px;
    top: 115.5px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
    
.add-task-create-category-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 981px;
    height: 46px;
    left: 34px;
    top: 158.5px;
    
}

.add-task-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 20px;

    position: static;
    width: 669px;
    height: 46px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 2px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 17px;
}

.in-between{
    position: static;
    width: 22px;
    height: 27px;
    left: 686px;
    top: 9.5px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 17px;
}

.task-category-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    position: static;
    width: 256px;
    height: 46px;
    left: 725px;
    top: 0px;
    
    background: #18A0FB;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 17px;  
}

.task-category-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 1367px;
    height: 582px;
    left: 34px;
    top: 301.5px;
}

.welcome-greetings{
    
    position: absolute;
    width: 637px;
    height: 78px;
    left: 34px;
    top: 211.5px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 78px;
    /* identical to box height, or 260% */
    
    text-transform: uppercase;
    
    color: #000000;
}
    
.rewards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 27px 154px;
    
    position: absolute;
    width: 263px;
    height: 95px;
    left: 1138px;
    top: 134px;
    
    background: #FBA8B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}