.exodus-landing-page16596848-exodus-landing-page16596848 {
    width: 1440px;
    height: 900px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.10000000149011612) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-frame116596849 {
    top: 285px;
    left: 671px;
    width: 112px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: center;
  }
  .exodus-landing-page16596848-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text01 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-svg {
    top: 140px;
    left: 657px;
    width: 127;
    height: 127;
    position: absolute;
  }
  .exodus-landing-page16596848-frame61516596858 {
    top: 353px;
    left: 386px;
    width: 669px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
  }
  .exodus-landing-page16596848-frame516596859 {
    width: 669px;
    margin: 0 0 10px 0;
    display: flex;
    padding: 11px 20px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-text02 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text03 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame616596861 {
    width: 669px;
    margin: 0 0 10px 0;
    display: flex;
    padding: 11px 20px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-text04 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text05 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame716596863 {
    width: 669px;
    margin: 0 0 10px 0;
    display: flex;
    padding: 11px 20px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-text06 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text07 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame816596865 {
    width: 669px;
    margin: 0 0 10px 0;
    display: flex;
    padding: 11px 20px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-text08 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text09 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame916596867 {
    width: 669px;
    height: 138px;
    margin: 0 0 10px 0;
    display: flex;
    padding: 11px 20px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  .exodus-landing-page16596848-text10 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text11 {
    color: rgba(133, 132, 132, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame61516829553 {
    height: 61px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    justify-content: flex-end;
  }
  .exodus-landing-page16596848-frame4016759393 {
    width: 150px;
    height: 40px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 20px;
    justify-content: center;
    background-color: rgba(24, 159, 250, 1);
  }
  .exodus-landing-page16596848-text12 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text13 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame61616667271 {
    top: 24px;
    left: 34px;
    width: 1376px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
  }
  .exodus-landing-page16596848-frame61616667349 {
    width: 300.6395568847656px;
    margin: 0 238px 0 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    justify-content: center;
  }
  .exodus-landing-page16596848-svg1 {
    width: 68;
    height: 68;
    margin: 0 28px 0 0;
  }
  .exodus-landing-page16596848-text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text15 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-frame61717304842 {
    width: 133px;
    height: 30px;
    margin: 0 238px 0 0;
    display: flex;
    padding: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 20px;
    justify-content: space-between;
    background-color: rgba(241, 241, 241, 1);
  }
  .exodus-landing-page16596848-text16 {
    color: rgba(0, 0, 0, 1);
    width: 85px;
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Nunito;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text17 {
    color: rgba(0, 0, 0, 1);
    width: 85px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-image {
    width: 19px;
    height: 16px;
    position: relative;
    object-fit: cover;
    border-color: transparent;
  }
  .exodus-landing-page16596848-frame61516667275 {
    height: 27px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    justify-content: center;
  }
  .exodus-landing-page16596848-text18 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    margin: 0 10px 0 0;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text19 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text20 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    margin: 0 10px 0 0;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text21 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text22 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    margin: 0 10px 0 0;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text23 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text24 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    margin: 0 10px 0 0;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text25 {
    color: rgba(112, 118, 131, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text26 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .exodus-landing-page16596848-text27 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  