@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 42px;

    position: static;
    width: 1538px;
    height: 1028px;
    left: 0px;
    top: 0px;

    background: #EB5E5D;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.inside-layout{
    position: static;
    left: 3.19%;
    right: 3.19%;
    top: 4.47%;
    bottom: 7.98%;

    background: linear-gradient(114.62deg, #FFFFFF 16.76%, rgba(255, 255, 255, 0.846889) 36.46%, rgba(255, 255, 255, 0.701994) 56.68%, rgba(255, 255, 255, 0.661904) 65.14%, rgba(255, 255, 255, 0.606823) 70.76%, rgba(255, 255, 255, 0.564283) 75.37%, rgba(255, 255, 255, 0.509352) 82.09%, rgba(255, 255, 255, 0.433397) 92.01%, rgba(255, 255, 255, 0.29839) 108.06%, rgba(255, 255, 255, 0) 108.06%);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 35px 0px;
}

.intro-txt{
    position: absolute;
    width: 114px;
    height: 60px;
    left: 153px;
    top: 22px;

    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;

    color: #000000;
}

.welcome-txt{
    position: absolute;
    height: 78px;
    left: 30%;
    right: 30%;
    top: calc(50% - 78px/2 - 140px);

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 78px;
    /* identical to box height, or 170% */

    text-transform: uppercase;

    color: #000000;
}

.background-button1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 405px;
    height: 48px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px;
}
.background-button2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 405px;
    height: 48px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;

}
.background-button3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 405px;
    height: 48px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 15px 0px;
}
.front-button{
    position: absolute;
    left: 14.32%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #18A0FB;
    border-radius: 0px 20px 20px 20px;
}

.button-txt{
    position: absolute;
    left: 26.76%;
    right: 12.09%;
    top: 29.17%;
    bottom: 29.17%;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.design-vector{
    position: absolute;
    width: 1414.11px;
    height: 834.27px;
    left: 31.96px;
    top: 113px;

   background: linear-gradient(157.62deg, rgba(255, 235, 0, 0.4) 20.49%, rgba(255, 235, 0, 0) 95.69%);
}
