body {
    background-color: rgb(212, 76, 76);
    font: 18px Arial, sans-serif;
    text-align: center;
}
.cont{
    position: fixed;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 200px;
    margin: 50px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid red;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    font-variant-caps: all-petite-caps;
    position: sticky;
    padding: 20px;
    margin: 5px;
}

.main-h1{
    text-align: left;
    font: 26px Arial, sans-serif;
    font-variant-caps: all-small-caps;
    font-style: italic;
}
